{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="home-image">
<div class="container h-100">
    <div class="row h-100 home-content">
        <div class="col-10 col-md-7 slide-wrap my-auto">
            <h3 class="text-uppercase text-content text-white slideInLeft animated">
                Bored of watery lager? You're in the the right Place!
                Have a browse of our great selection of craft beers from across the world.
            </h3>
            <div class="my-4">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button  btn btn-lg rounded-0 text-uppercase py-2">Shop Now!</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-md  btn-pos rounded-0"><i class="fa fa-arrow-down fa-sm"
    aria-hidden="true"></i></button> 
</div>

{% endblock %}

{% block postloadjs %}
    <script type="text/javascript">
        $(function(){
            
        $(".mydiv").addClass("active");
        console.log($(".mydiv"));
        });
    </script>
    {% endblock %}


