{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid text-content text-uppercase pt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-10">
            <div class="card box-sh mb-3 text-white bg-black border-black pt-3 px-1 rounded-0">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="font-weight-bold">Profile</h2>
                        <hr class="light-hr w-50 mb-3">
                    </div>
                </div>
                <div class="row pl-2 pr-2">
                    <div class="col-12 col-md-6 col-lg-5 pt-3">
                        <div class="row">
                            <div class="col-6 text-left pt-1 pr-1">
                                <p><strong><u>Order History ({{ orders.count }})</u></strong></p>
                            </div>
                            <div class="col-6 text-right pb-3 pl-1">
                                <a href="{% url 'account_logout' %}" class="btn btn-sm  rounded-0">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span>Logout Account</span>
                                </a>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="mb-1 mt-0 small text-left color-custom"><u>Order No</u></p>
                                </div>
                                <div class="col-6">
                                    <p class="mb-1 mt-0 pr-3 small text-right color-custom"><u>Order Total</u></p>
                                </div>
                            </div>
                            <div class="py-1 pl-0 pr-3 order-scroll">
                            {% for order in orders reversed %}
                            <div class="row">
                                <div class="col-12">
                                    <ul class="list-group list-group-horizontal my-1 mx-auto">
                                        <li class="list-group-item list-group-item-light text-black flex-fill rounded-0">
                                    <a class="my-0 small" href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                        <li class="list-group-item list-group-item-light text-black flex-fill rounded-0">
                                    <p class="my-0 small">{{ order.date }}</p>
                                    {% for item in order.lineitems.all %}
                                    <small class="mt-1 mb-0">{{ item.product.name }}</small>
                                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                                    {% endfor %}
                                </li>
                                <li class="list-group-item list-group-item-light text-black flex-fill rounded-0">
                                    <p class="my-0 small">
                                        £{{ order.grand_total }}</p>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 mb-1">
                                <hr class="light-hr">
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-12">
                    <div id="ratingslide" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                    {% for rating in ratings  %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-group list-group-horizontal my-1 mx-auto">
                                <li
                                    class="list-group-item list-group-item-light text-black flex-fill rounded-0 text-left">
                                    <small>Date: {{ rating.date_added|date:"Y-m-d" }}<br>Beer: {{ rating.product|truncatechars:10 }}</small>
                                </li>
                                <li
                                    class="list-group-item pl-0 list-group-item-light text-black flex-fill rounded-0 text-right">
                                    <p class="mb-0">{{ rating.rating }} /
                                        5 <i class="fas fa-star mr-1"></i></p>
                                    <div>
                                        <small class="ml-5 text-uppercase">
                                            <a href="{% url 'edit_rating' rating.id %}">Edit</a><strong
                                                class="text-black edit-button"> | </strong>
                                            <button type="button"
                                                class="text-danger text-uppercase modal-button"
                                                data-toggle="modal"
                                                data-target="#custom-modal{{ rating.id }}">Delete</button>
                                        </small>
                                        <div class="modal fade" id="custom-modal{{ rating.id }}" tabindex="-1"
                                            role="dialog" aria-labelledby="exampleModalCenterTitle"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-black text-uppercase">Are
                                                            you
                                                            sure you want to
                                                            delete your rating?!
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                            class="rounded-0 btn btn-lg text-uppercase py-2"
                                                            data-dismiss="modal"><i
                                                                class="fas fa-chevron-left"></i>
                                                            Close</button>
                                                        <a href="{% url 'delete_rating' rating.id %}"
                                                            class="btn btn-lg rounded-0 text-uppercase py-2">Delete
                                                            <i class="fas fa-trash"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                    {% empty %}
                    <h5 class="mt-4">No Rating currently for this beer!</h5>
                    {% endfor %}
                </div>
                </div>
                </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7 px-1">
                        <div class="card-body p-0 pt-3">
                            <div class="card-text">
                                <div class="col-12 pl-md-0 pl-lg-0 pl-xl-0 pt-1">
                                    <h6><u>Save your delivery information to make checking out easier.</u></h6>
                                    <form action="{% url 'profile' %}" method="POST" id="profile-update-form" class="pt-2">
                                        {% csrf_token %}
                                        <fieldset class="rounded-0 color-custom border px-3 py-2">
                                            <legend class="fieldset-label small px-2 w-auto">Default Delivery
                                            </legend>
                                        {{ form| crispy }}
                                        </fieldset>
                                        <div class="row pl-3 pt-3 pr-3">
                                            <div class="col-12 text-right pb-3">
                                                <button id="submit-button" class="btn rounded-0 w-100">
                                                    <span class="font-weight-bold text-uppercase">Update Information</span>
                                                    <span class="icon">
                                                        <i class="fas fa-edit"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_footer %}
    <div class="container footer-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}