{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

<!-- Header Container to allow padding -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Checkout page within Card on an overlay -->
<div class="overlay"></div>
<div class="container-fluid text-content text-uppercase pt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-10">
            <div class="card box-sh mb-3 text-white bg-black border-black pt-3 rounded-0">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="font-weight-bold">checkout</h2>
                        <hr class="light-hr w-50 mb-3">
                    </div>
                </div>
                <!-- Order Summary Section -->
                <div class="row pl-2 pr-2">
                    <div class="col-12 col-md-6 col-lg-5 pt-3">
                        <div class="row">
                            <div class="col-6 text-left pt-1 pr-1">
                                <p><strong><u>Order Summary ({{ product_count }})</u></strong></p>
                            </div>
                            <div class="col-6 text-right pb-3 pl-1">
                                <a href="{% url 'view_cart' %}" class="btn btn-sm  rounded-0">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span>Adjust Order</span>
                                </a>
                            </div>
                        </div>
                        <div class="rounded-0 border border-white p-3 checkout-scroll">
                            <div class="row">
                                <div class="col-6">
                                    <p class="mb-1 mt-0 small text-left color-custom"><u>Item</u></p>
                                </div>
                                <div class="col-6">
                                    <p class="mb-1 mt-0 small text-right color-custom"><u>Subtotal</u></p>
                                </div>
                            </div>
                            {% for item in cart_items %}
                            <div class="row">
                                <div class="col-4 col-md-3 mb-1">
                                    <a href="{% url 'product_detail' item.product.id %}">
                                        {% if item.product.image %}
                                        <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                        {% else %}
                                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-5 col-md-6">
                                    <p class="my-0">{{ item.product.name }}</p>
                                    {% if item.product.category %}
                                    <small class="mt-1 mb-0">
                                        <a class="color-custom"
                                            href="{% url 'products' %}?category={{ item.product.category.name }}">
                                            <i class="fas fa-beer mr-1"></i>{{ item.product.category.friendly_name }}
                                        </a>
                                    </small>
                                    {% endif %}
                                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                                </div>
                                <div class="col-3 text-right">
                                    <p class="my-0 small">
                                        £{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 mb-1">
                                <hr class="light-hr">
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="col-12 px-0 pb-3">
                                {% if free_delivery_delta > 0 %}
                                <p class="mb-0 p-2 bg-warning shadow-sm text-black text-center">
                                    Spend <strong>£{{ free_delivery_delta }}</strong> more to get free next day
                                    delivery!
                                </p>
                                {% endif %}
                            </div>
                            <div class="row text-left">
                                <div class="col-7">
                                    <p class="my-0">Order Total:</p>
                                    <p class="my-0">Delivery:</p>
                                    <hr class="light-hr my-1">
                                    <p class="my-0 color-custom">Grand Total:</p>
                                </div>
                                <div class="col-3 offset-2 text-right">
                                    <p class="my-0">£{{ total | floatformat:2 }}</p>
                                    <p class="my-0">£{{ delivery | floatformat:2 }}</p>
                                    <hr class="light-hr my-1">
                                    <p class="my-0 color-custom"><strong>£{{ grand_total | floatformat:2 }}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Checkout Form - Save your details if signed in -->
                    <div class="col-12 col-md-6 col-lg-7 px-1">
                        <div class="card-body p-0 pt-3">
                            <div class="card-text">
                                <div class="col-12 pl-md-0 pl-lg-0 pl-xl-0">
                                    <p class="color-custom">Please fill out the form below to complete your order</p>
                                    <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                                        {% csrf_token %}
                                        <fieldset class="rounded-0 border color-custom px-3 mb-5">
                                            <legend class="fieldset-label small px-2 w-auto">Details</legend>
                                            {{ order_form.full_name | as_crispy_field }}
                                            {{ order_form.email | as_crispy_field }}
                                        </fieldset>
                                        <fieldset class="rounded-0 border color-custom px-3 py-0 mb-5">
                                            <legend class="fieldset-label small px-2 w-auto">Delivery
                                            </legend>
                                            {{ order_form.phone_number | as_crispy_field }}
                                            {{ order_form.street_address1 | as_crispy_field }}
                                            {{ order_form.street_address2 | as_crispy_field }}
                                            {{ order_form.town_or_city | as_crispy_field }}
                                            {{ order_form.county | as_crispy_field }}
                                            {{ order_form.postcode | as_crispy_field }}
                                            {{ order_form.country | as_crispy_field }}
                                            <div class="form-check form-check-inline float-right mr-0">
                                                {% if user.is_authenticated %}
                                                <label class="form-check-label" for="id-save-info">Save this delivery
                                                    information to my profile</label>
                                                <input class="form-check-input ml-2 mr-0" type="checkbox"
                                                    id="id-save-info" name="save-info" checked>
                                                {% else %}
                                                <label class="form-check-label" for="id-save-info">
                                                    <a class="text-info" href="{% url 'account_signup' %}">Create an
                                                        account</a> or
                                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to
                                                    save this information
                                                </label>
                                                {% endif %}
                                            </div>
                                        </fieldset>
                                        <!-- Stripe - Payment Section -->
                                        <fieldset class="px-3 border color-custom">
                                            <legend class="fieldset-label small px-2 w-auto">Payment</legend>
                                            <!-- A Stripe card element will go here -->
                                            <div class="mb-3" id="card-element"></div>

                                            <!-- Used to display form errors -->
                                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                                            <!-- Pass the client secret to the view so we can get the payment intent id -->
                                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                                        </fieldset>
                                        <div class="row pt-3">
                                            <div class="col-12 text-right pb-3">
                                                <button id="submit-button" class="btn  rounded-0 w-100">
                                                    <span class="font-weight-bold text-uppercase">Complete Order</span>
                                                    <span class="icon">
                                                        <i class="fas fa-lock"></i>
                                                    </span>
                                                </button>
                                                <p class="small text-danger my-0">
                                                    <span class="icon">
                                                        <i class="fas fa-exclamation-circle"></i>
                                                    </span>
                                                    <span>Your card will be charged
                                                        <strong>£{{ grand_total|floatformat:2 }}</strong></span>
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Custom loading Overlay when checking out -->
<div id="loading-overlay">
    <h1 class="text-black loading-spinner text-content text-uppercase">Almost in hop Heaven....
            <i class="fas fa-3x fa-beer fa-spin ml-3"></i>
    </h1>
</div>
{% endblock %}

{% block page_footer %}
<div class="container footer-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}