/* Profile Form Input Placeholder */
#profile-update-form input::placeholder {
    color: #777777;
}

/* Profile Form Control Text Color */
#profile-update-form .form-control {
    color: #000000;
}

/* Profile Form Box Shadow */
.profile-form {
  color: #000000;
  box-shadow: 3px 3px #C5B358;
  -webkit-transition: box-shadow 500ms ease;
  transition: box-shadow 500ms ease;
}

/* Profile Form Box Shadow Active show none/hide border */
.profile-form:focus,
.profile-form:active {
  box-shadow: none;
  border: hidden;
}

/* Country Field color if not first child (placeholder) */
#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

/* Country Field color if (placeholder) */
#id_default_country option:first-child {
    color: #777777;
}

/* Order Scroll Max height */
.order-scroll {
    max-height: 325px;
    overflow-y: scroll;
  }

  /* Order Scroll Max height for smaller devices */
  @media (max-width: 466px) {

    .order-scroll {
        max-height: 280px;
        overflow-y: scroll;
    }
  }

/* Admin Delete Button styled to look like anchor link as per edit link */
.modal-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.modal-button:hover {
	text-decoration: underline;
}