#profile-update-form input::placeholder {
    color: #777777;
}

#profile-update-form .form-control {
    color: #000000;
}

.profile-form-input {
  color: #000000;
  box-shadow: 3px 3px #C5B358;
  -webkit-transition: box-shadow 500ms ease;
  transition: box-shadow 500ms ease;
}

.profile-form-input:focus,
.profile-form-input:active {
  box-shadow: none;
  border: hidden;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #777777;
}

.checkout-scroll {
    max-height: 600px;
    overflow-y: scroll;
  }

  @media (max-width: 466px) {

    .checkout-scroll {
        max-height: 300px;
        overflow-y: scroll;
    }
  }
