@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&family=Oswald:wght@200;300;400;500;600;700&display=swap');


html {
    height: 100%;
}

header {
    font-family: 'Bungee', cursive;
    letter-spacing: 0.05em;
}


.btn-pos {
    position: absolute;
    right: 50%;
    bottom: 10px;
}

.bg-custom {
    background-color: #C5B358;
}
.bg-black{
    background-color: #000;
}

.border-black {
    border: 1px solid black !important;
}

.text-black {
    color: #000 !important;
}

.navbar-brand {
    font-family: 'Bungee Shade', cursive !important;
    letter-spacing: 0.1em;
}

body {
    background: url('/static/images/home_page_hopheaven.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    overflow-x: hidden;
}

.shop-now-button,
.btn-custom {
    background: black;
    color: #C5B358;
    font-family: 'Bungee', cursive !important;
    letter-spacing: 0.05em;
    border: solid;
    border-width: 1px;
    border-color: white;
}

.shop-now-button {
    min-width: 260px;
}

.btn-black {
    background: black;
    color: #C5B358;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
    background: #222;
    color: white;
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }