@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&family=Oswald:wght@200;300;400;500;600;700&display=swap');


body,
html {
    height: 100%;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #C5B358; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a7974a;
  }


.list-group-item {
    box-shadow: 4px 4px #C5B358;
    border: 1px solid #000000;
}
.card-hr {
    border: 1px solid #ffffff;
    border-radius: 60%;
}

.custom-hr {
    border: 1px solid #000;
    border-radius: 60%;
}

.card-img-wrap {
    overflow: hidden;
    position: relative;
  }
  .card-img-wrap:after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity .25s;
  }
  .card-img-wrap img {
    transition: transform .25s;
    width: 100%;
  }
  .card-img-wrap:hover img {
    transform: scale(1.2);
  }
  .card-img-wrap:hover:after {
    opacity: 1;
  }

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #ece7e7;
	z-index: -1;
}

.text-content {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.03em;
}

.home-content {
    padding-top: 160px;
}

.header-container {
    padding-top: 160px;
}

.footer-container {
    padding-top: 110px;
}

header {
    font-family: 'Bungee', cursive;
    letter-spacing: 0.05em;
    z-index: 10;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.btn-pos {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.bg-custom {
    background-color: #C5B358;
}
.bg-black {
    background-color: #000;
}

.color-custom {
    color: #C5B358 !important;
}

.border-black {
    border: 1px solid black !important;
}

.text-black {
    color: #000 !important;
}

.navbar-brand {
    font-family: 'Bungee Shade', cursive !important;
    letter-spacing: 0.1em;
}


.home-image {
    background: url('/static/images/home_page_hopheaven.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    animation: toColor 2s;
}
@keyframes toColor {
    0%    { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
    25%   { -webkit-filter: grayscale(75%); filter: grayscale(75%); }
    50%   { -webkit-filter: grayscale(50%); filter: grayscale(50%); }
    75%   { -webkit-filter: grayscale(25%); filter: grayscale(25%); }
    100%  { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
}


.btn-custom {
    background: black;
    color: #C5B358;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.05em;
    border: solid;
    border-width: 1px;
    border-color: #C5B358;
}

.button-fixed {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 110px;
    right: 20px;
}

.button-mobile {
    height: 42px;
    width: 42px;
}

.btt-link {
    cursor: pointer;
}


.shop-now-button {
    min-width: 260px;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus,
.social-links li a i:hover,
.social-links li a i:active,
.social-links li a i:focus {
    background: white;
    border: 1px solid #000000;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background: #C5B358;
    color: #000;
    font-family: 'Oswald', sans-serif;
    z-index: 1000;
  }

.footer-brand {
    font-family: 'Bungee Shade', cursive !important;
}

.social-links li a i {
    width: 36px;
    height: 36px;
    color: #C5B358;
    background: #000000;
    border: solid;
    border-width: 1px;
    border-color: white;
    padding-top: 10px;
}

.products-list {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    padding-left: 0px;
    line-height: 30px;
}

.products-list li {
    font-size: 20px;
    letter-spacing: 0.05em;
    margin-bottom: 1.5em;
    list-style-type: none;
}

.checkout-scroll {
    max-height: 735px;
    overflow-y: scroll;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 110px;
    right: 15px;
    z-index: 99999999999999999999;
}

.custom-toast {
    overflow: visible;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-toasts-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  }

  @media (max-width: 992px) {
      .navbar-custom-bg {
          background: #C5B358;
      }

      nav .navbar-nav li a {
          color: #000 !important;
      }

      .navbar li {
          margin-left: 1em;
          margin-right: 1em;
      }
      .message-container {
        top: 90px;
    }
  }

  @media (max-width: 466px) {

  .list-inline-item p {
        font-size: 8px;
    }
    .message-container {
        top: 75px;
    }
    .checkout-scroll {
        max-height: 300px;
        overflow-y: scroll;
    }
  }