.product-form-input {
  box-shadow: 3px 3px #C5B358;
  -webkit-transition: box-shadow 500ms ease;
  transition: box-shadow 500ms ease;
  color: black;
}

.product-form-input:focus,
.product-form-input:active {
  box-shadow: none;
  border: hidden;
}

