{% load static %}
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-white mr-5" href="#" id="all-beers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Beers
            </a>
            <div class="dropdown-menu rounded-0 mt-0 border border-black box-sh" aria-labelledby="all-beers-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=country&direction=asc" class="dropdown-item ">By Country</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Style</a>
                <a href="{% url 'products' %}?sort=abv&direction=asc" class="dropdown-item ">By ABV</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Beers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-white mr-5" href="#" id="styles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Styles
            </a>
            <div class="dropdown-menu rounded-0 mt-0 border border-black box-sh" aria-labelledby="styles-link">
                <a href="{% url 'products' %}?category=session_ipa" class="dropdown-item">Session IPA</a>
                <a href="{% url 'products' %}?category=amber_ale" class="dropdown-item ">Amber Ale</a>
                <a href="{% url 'products' %}?category=pilsner" class="dropdown-item ">Pilsner</a>
                <a href="{% url 'products' %}?category=lager" class="dropdown-item ">Lager</a>
                <a href="{% url 'products' %}?category=pale_ale" class="dropdown-item ">Pale Ale</a>
                <a href="{% url 'products' %}?category=india_pale_ale" class="dropdown-item ">India Pale Ale</a>
                <a href="{% url 'products' %}?category=american_pale_ale" class="dropdown-item ">American Pale Ale</a>
                <a href="{% url 'products' %}?category=american_pale_ale,india_pale_ale,pale_ale,pilsner,amber_ale,session_ipa,lager" class="dropdown-item">All Styles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-white" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu rounded-0 mt-0 border border-black box-sh" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=bundle" class="dropdown-item">Beer Bundles</a>
                <a href="{% url 'products' %}?category=mega_packs" class="dropdown-item">Mega Packs</a>
                <a href="{% url 'products' %}?category=bundle,mega_packs" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>

{% block postloadjs %}
<script type="text/javascript">
    // Add slideDown animation to Bootstrap dropdown when expanding.
  $('.dropdown').on('show.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
  });

  // Add slideUp animation to Bootstrap dropdown when collapsing.
  $('.dropdown').on('hide.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
  });
</script>
{% endblock %}