{% extends "base.html" %}

{% block content %}
<div class="accounts-bg-img">
    <div class="container pb-5 header-container">
        <div class="overlay"></div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-7">
                <div class="card rounded-0 text-content text-white bg-black box-sh text-uppercase">
                <div class="allauth-form-inner-content">
                    {% block inner_content %}
                    {% endblock %}
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}