{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<div class="card-header">
<h2>{% trans "Sign Out" %}</h2>
<hr class="light-hr">
</div>

<div class="card-body text-center pt-0">
<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <a href="{% url 'home' %}" class=" btn btn-sm rounded-0 text-uppercase py-2 mr-3"><i
    class="fas fa-backspace"></i> Cancel <i
    class="fas fa-home"></i></a>
  <button type="submit" class="btn btn-sm rounded-0 text-uppercase py-2 ml-3">{% trans 'Sign Out' %} <i
    class="fas fa-sign-out-alt"></i></button>
</form>
</div>


{% endblock %}
