{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

<!-- Header Container to allow padding -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Edit Product form within Card on an overlay -->
    <div class="overlay"></div>
    <div class="container text-content text-white text-uppercase pt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="card text-content text-white box-sh mb-3 bg-black border-dark rounded-0 shadow-lg p-4">
                    <h3 class="text-center">Beer Management - Edit a Beer</h3>
                    <hr class="light-hr">
                <form method="POST" action="{% url 'edit_product' product.id %}" id="product-form" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-lg rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-lg text-uppercase rounded-0" type="submit">Edit Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
    </div>
{% endblock %}

{% block page_footer %}
<div class="container footer-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'products/js/countryfield.js' %}"></script>
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}
