{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay" id="top"></div>
<div class="container-fluid text-content text-uppercase">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h2 class="text-black font-weight-bold">Beers</h2>
            {% for c in current_categories %}
            <a class="text-decoration-none btn btn-sm my-1 py-0 px-1 text-uppercase rounded-0"
                href="{% url 'products' %}?category={{ c.name }}">
                <span class="p-2 badge">{{ c.friendly_name }}</span>
            </a>
            {% endfor %}
            <hr class="dark-hr w-50 mb-1">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="product-container col-12 col-md-11 col-lg-10">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                                Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Style (A-Z)</option>
                            <option value="category_desc"
                                {% if current_sorting == 'category_desc' %}selected{% endif %}>Style (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a
                                href="{% url 'products' %}?category=american_pale_ale,india_pale_ale,pale_ale,pilsner,amber_ale,session_ipa,lager,bundle">All
                                Beers</a> | </span>
                        {% endif %}
                        {{ products|length }} Beers{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 bg-black border-dark rounded-0 shadow-lg">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <div class="card-img-wrap"><img class="card-img-top img-fluid rounded-0"
                                    src="{{ product.image.url }}" alt="{{ product.name }}"></div>
                        </a>

                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body text-white pb-0">
                            <p class="mb-0 lead">{{ product.name }}</p>
                            {% if product.category %}
                            <small class="mt-1 mb-0">
                                <a class="color-custom"
                                    href="{% url 'products' %}?category={{ product.category.name }}">
                                    <i class="fas fa-beer mr-1"></i>{{ product.category.friendly_name }}
                                </a>
                            </small>
                            {% endif %}
                            <hr class="light-hr">
                        </div>
                        <div class="card-footer pt-0 border-0">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left text-white font-weight-bold">£{{ product.price }}</p>
                                    {% if product.rating %}
                                    <small class="color-custom"><i class="fas fa-star mr-1"></i>{{ product.rating|floatformat:1 }} /
                                        5</small>
                                    {% else %}
                                    <small class="color-custom">No Rating</small>
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                    <small class="ml-5 text-uppercase">
                                        <a href="{% url 'edit_product' product.id %}">Edit</a><strong
                                            class="text-white edit-button"> | </strong>
                                        <button type="button" class="text-danger text-uppercase modal-button"
                                            data-toggle="modal"
                                            data-target="#custom-modal{{ product.id }}">Delete</button>
                                    </small>
                                    <div class="modal fade" id="custom-modal{{ product.id }}" tabindex="-1"
                                        role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Are you sure you want to delete this beer?!
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="rounded-0 btn btn-lg text-uppercase py-2"
                                                        data-dismiss="modal"><i
                                                        class="fas fa-chevron-left"></i> Close</button>
                                                    <a href="{% url 'delete_product' product.id %}"
                                                        class="btn btn-lg rounded-0 text-uppercase py-2">Delete
                                                        <i class="fas fa-trash"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-2">
                    <hr class="dark-hr">
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-2">
                    <hr class="dark-hr">
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr class="dark-hr">
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr class="dark-hr">
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none button-mobile">
            <a class="btt-link btn d-flex h-100 rounded-0">
                <i class="fas fa-arrow-up mx-auto my-auto"></i>
            </a>
        </div>
    </div>
</div>
<div class="d-none d-sm-none d-md-block d-lg-block d-xl-block button-fixed">
    <a class="btt-link btn d-flex h-100 rounded-0">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block page_footer %}
<div class="container footer-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $(".btt-link").click(function () {
        $("html, body").animate({
                scrollTop: $("#top").offset().top,
            },
            1000
        );
    });
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}