<div class="toast custom-toast border border-black rounded-0 text-content text-uppercase" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 bg-success pt-2"></div>
    <div class="toast-header bg-black text-white border border-black rounded-0">
        <div class="row">
            <div class="col-7">
                <strong class="color-custom">Success!</strong>
            </div>
            <div class="col-5">
                <button type="button" class="ml-2 mb-1 close btn text-white" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-12 color-custom">
                <hr class="light-hr mt-1 mb-1">
                {{ message }}
                <hr class="light-hr mb-1 mt-1">
            </div>
        </div>
    </div>
    <div class="toast-body bg-black text-white rounded-0 pt-1">
        {% if grand_total and not on_profile_page %}
            <h6 class="bg-black text-white py-1 pt-2">Your Cart ({{ product_count }})</h6>
            <div class="cart-toasts-wrapper">
                {% for item in cart_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            {% if item.product.image %}
                            <a href="{% url 'product_detail' item.product.id %}">
                            <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}"></a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                            <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}"></a>
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            {% if item.product.category %}
                                            <small class="mt-1 mb-0">
                                                <a class="color-custom" href="{% url 'products' %}?category={{ item.product.category.name }}">
                                                    <i class="fas fa-beer mr-1"></i>{{ item.product.category.friendly_name }}
                                                </a>
                                            </small>
                                            {% endif %}
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 mb-2">
                            <hr class="light-hr">
                        </div>
                    {% endif %} 
                {% endfor %}
            </div>
            <div class="row">
                <div class="col text-left">
                    <p class="mt-3 mb-1"><strong>
                        Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}: 
                        <span class="float-right">£{{ total|floatformat:2 }}</span>
                    </strong></p>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-0 p-2 bg-warning text-black text-center">
                            Spend <strong>£{{ free_delivery_delta }}</strong> more to get free next day delivery!
                        </p>
                    {% endif %}
                    <a href="{% url 'view_cart' %}" class="btn  w-100 rounded-0 mt-2">
                        <span class="text-uppercase">Go To Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>